@import '../../styles/variables.scss';



.container-grid-layout {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: $d--80 auto;

    grid-template-areas: 
    'NAV HEADER'
    'NAV CONTENT';    

    @media(max-width: 700px) {        
        grid-template-columns: 100%;
        grid-template-areas: 
        'HEADER'
        'CONTENT';
    }
}

.content-layout {
    grid-area: CONTENT;    
    padding: $d--32;    

    width: 100%;   
    min-height: $d--600;

    animation: animateShow 0.3s ease-in;

    overflow: auto; 
    
    @media(max-width: 700px) {        
        padding: 0;
    }
}