@import '../../styles/variables.scss';

.container-header {
    grid-area: HEADER;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 $d--24;
    
    background-color: $color-white-100;

    border-bottom: 1px solid $color-gray;

    svg {
        height: $d--20;
        width: $d--20;
        color: $color-gray-700;        
    }

    &__title {
        font-size: $d--24;
        font-family: $font-primary;
        color: $color-black;
    }

    &__menu {
        // visibility: hidden;

        @media(max-width: 700px) {
            visibility: visible;          
        }
    }

}