@import '../../styles/variables.scss';

.container-table {
    display: flex;
    flex-direction: column;
        
    padding: $d--24;
    height: 100%;

    overflow: auto;

    background-color: $color-white;  
    border: 1px solid $color-gray;
    box-shadow: 1px 1px 2px #ccc ;    
    border-radius: $d--4;  

    @media(max-width: 700px) {
        margin-top: $d--16;        
    }

    .container-action-grid {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        margin-bottom: $d--8;

        @media(max-width: 700px) {
            flex-direction: column;
            align-items: flex-start;            
        }

        .container-filters {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: $d--16;

            .filter-status {
                display: flex;            
                flex-direction: column;                
                
                span:nth-child(1) {
                    font-family: $font-title;
                    color: $color-tertiary;
                    font-weight: 600;
                    font-size: $d--14;
                    margin: 0 0 $d--6 $d--8;
                }
            }

            .container-filter-status {
                display: flex;
                align-items: center;
                border: 1px solid $color-gray;
                border-radius: $d--4;
                padding: $d--18;
            }

            .container-date {
                display: flex;                
                align-items: center;

                .container-dates {
                    display: flex;
                }

                .button-filter-date {
                    margin-top: $d--24;
                    margin-left: $d--16;
                    width: $d--110;
                }
            }    
                    

            @media(max-width: 1200px) {
                flex-direction: column;
                align-items: flex-start;

                .container-date {
                    margin-top: $d--16;
                }
                
            }

            @media(max-width: 700px) {
                .container-date {
                    display: flex;      
                    flex-direction: column;          
                    align-items: flex-start;
    
                    .container-dates {
                        display: flex;
                    }
    
                    .button-filter-date {
                        margin-top: $d--12;
                        margin-left: 0;
                        width: $d--200;
                    }
                }    
            }

            
        }
    }

    .grid-table {    
        display: flex;            
        flex-direction: column;

        border: 1px solid $color-gray;
        border-radius: $d--4;
        background-color: $color-background;

        overflow: auto;

        margin-top: $d--4;
        height: 100%;                

        .table {            
            height: 90%;
            overflow: auto;
            width: 100%;

            .container-action {
                display: flex;
                justify-content: space-around;
                height: $d--56;

                .edit {                    
                    color: $color-warning;
                    filter: brightness(0.5);
                }

                .del {                    
                    color: $color-secondary;
                    filter: brightness(0.5);
                }   
                
                .clone {                    
                    color: $color-info;
                    filter: brightness(0.8);
                }
            }
        }
        
        table {        
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            flex: 1;
            
            height: 100%;

            border-collapse: collapse;

            thead {
                display: flex;     
                
                tr {
                    display: flex;                    
                    width: 100%;                                        
                }
                                
                th {          
                    display: flex;           
                    align-items: center;

                    min-width: $d--110;
                    padding: $d--8 $d--16;       

                    height: $d--56;
                    background-color: $color-primary;
                    text-align: left;
                    color: $color-black;
                    font-family: $font-title;
                }
            }
            
            tbody {
                display: flex;
                flex-direction: column;
                height: 100%;                

                tr {
                    display: flex;
                    align-items: center;

                    color: $font-title-color;
                    border-bottom: 1px solid $color-gray;
                    height: $d--56;
                    // width: 100%;

                    &:nth-child(odd){
                        background-color: $color-white;
                    }

                    &:hover {
                        background-color: $color-gray;
                    }                   
                }   

                td {
                    display: flex;           
                    align-items: center;

                    height: $d--56;
                    min-width: $d--110;      

                    padding: $d--8 $d--16;       

                    font-size: $d--14; 
                    font-family: $font-subtitle; 
                    color: $color-quaternary;

                    &.inactive {
                        font-style: italic;
                        filter: opacity(0.5);
                    }

                    &.status-agendado {
                        color: $color-success;
                        font-weight: 700;
                        font-family: $font-title;
                        filter: brightness(0.9)   
                    }

                    &.status-pendente {
                        color: $color-warning;
                        font-weight: 700;
                        font-family: $font-title;
                        filter: brightness(0.9)                        
                    }

                    &.status-cancelado {
                        color: $color-danger;
                        font-weight: 700;
                        font-family: $font-title;
                        filter: brightness(0.9)   
                    }
                } 

                .empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    td {
                        font-family: $font-subtitle;
                        color: $font-subtitle-color;
                        font-size: $d--14;
                    }
                }
            }
        }
    }  
}

.container-grid-footer {
    display: flex;    
    justify-content: flex-end;          
}

.container-pagination {
    display: flex;        
    align-items: center;
    padding: $d--24;

    @media(max-width: 700px) {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    span {
        margin-right: $d--16;
        font-family: $font-title;
        font-weight: 600;
        color: $font-title-color;
    }

    .active {
        transition: 0.3s ease-in-out;
        background-color: $color-primary;
    }

    .disabled {        
        cursor: not-allowed;
        transition: 0.5s ease-out;
        opacity: 0.5;
        color: $color-gray;

        svg {
            color: $color-gray;
        }
    }

    .container-button-navigation {
        display: flex;
        margin-top: $d--8;
    }
}

.button-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-gray;

    height: $d--48;
    width: $d--48;

    border-radius: 10%;
    margin-right: $d--4;

    font-family: $font-title;
    font-weight: 600;
    color: $font-title-color;

    svg {
        color: $font-title-color;
    }

    &:hover {
        filter: brightness(0.9);
    }
}

