@import '../../../styles/variables.scss';

.container-grid-records {
    padding-top: $d--24;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($d--8, $d--300));
    gap: $d--16;

    @media(max-width: 700px) {
        grid-template-columns: 100%;
    }
}

.container-registration {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    &__header {
        display: flex;    
        align-items: center;
        justify-content: space-between;
    
        margin-bottom: $d--24;

        @media(max-width: 700px) {        
            flex-direction: column;      
            align-items: flex-start;
        }
    
        &__title {
            display: flex;

            @media(max-width: 700px) {
                margin-bottom: $d--16;
            }
        }
    }

    &__search {
        margin-bottom: $d--24;
    }

    &__grid {
        flex: 1;
        background-color: $color-white-100;
        border-radius: $d--4;        
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-top: $d--8;        
    }
}

