@import '../../styles/variables.scss';

.container-nav {    
    grid-area: NAV;
    
    display: flex;   
    flex-direction: column;

    background-color: $color-primary-800;

    height: 100vh;        
      
    @media(max-width: 700px) {  
        overflow-x: hidden;
        position: fixed;      
        height: 100vh;        
        width: 0;
        z-index: 2;
        transition: 0.5s;
    }    

    &__nav {        
        width: 100%;

        li {                            
            transition: 0.1s ease-in;
            
            &:hover {
                background-color: $color-primary-900;
            }
                     
            a {
                display: flex;
                align-items: center;

                font-family: $font-secondary;
                font-size: $d--14;
                font-weight: $font-medium;
                color: $color-white-600;

                padding: $d--16 $d--24;

                transition: 0.2s ease-in;


                svg {
                    height: $d--16;
                    width: $d--16;

                    color: $color-white-600;

                    margin-right: $d--8;
                }
            }

            @media(max-width: 700px) {
                a {
                    font-size: $d--16;                    
                }
            }            
        }

        .active {
            color: $color-white-600;
            font-weight: $font-bold;
            background-color: $color-primary-900;                             
            
            svg {
                height: $d--20;
                width: $d--20;

                color: $color-secondary;     
            }
        }
    }
}

.container-logo {
    display: flex;
    align-items: center;

    h4 {
        font-family: $font-secondary;
        font-size: $d--20;
        color: $color-white-500;
        margin-left: $d--24;
    }

    img {
        height: auto;
        width: $d--64;          
        margin: $d--8 0 $d--24 $d--16;
        filter: drop-shadow(1px 1px 0.2px $color-white-600);
    }
}

    
.menu-open {
    width: $d--240;
    transition: 0.6s ease-in-out;
    overflow: hidden;

    img {
        transition: 0.5s all;    
    }   
}

.menu-close {
    width: $d--64; 
    transition: 0.6s ease-in-out;
    overflow: hidden;

    img {
        height: auto;
        width: $d--48;          
        margin: $d--24 $d--8;
        filter: drop-shadow(1px 1px 1px $color-white-600);
        transition: 0.5s all;        
    }

    h4, span { 
        display: none;    
        transition: 0.5s all;       
    }            
    
    li {             
        a {     
            display: flex;       
            align-items: center;                     
            justify-content: center;

            padding: $d--16 0;  
            transition: 0.5s all;               

            svg {                         
                margin: 0;   
                width: $d--20;         
                height: auto;
                transition: 0.5s all;   
            }
        }        
    }

    .active {
        color: $color-white-600;
        font-weight: $font-bold;
        background-color: $color-primary-900;                             
        
        svg {
            height: auto;
            width: $d--22;

            color: $color-secondary;     
        }
    }
}


.backdrop {
    @media(max-width: 700px) { 
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 1;    
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transition: 0.3s ease-in-out;

        &.menu-open {
            opacity: 1;
            visibility: visible;
        }
    }
}

